# 영화별 상영일 df 만들기
### 필요한 패키지

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname='C:\\Windows\\Fonts\\malgun.ttf').get_name()
plt.rc('font',family=font_name)

import matplotlib as mlp
mlp.rcParams['axes.unicode_minus']=False

from glob import glob

### glob 으로 csv 파일들을 읽어와  리스트를 생성한다. 
#### os 패키지로 워크 디렉토리 변경

In [6]:
import os

os.chdir("C:/GitTest/10M_Movie/movie_DB/individual_trend")
m_list = glob('*.csv')
print(m_list)
print(len(m_list))

['1987.csv', '7번방의 선물.csv', '검사외전.csv', '겨울왕국 2.csv', '겨울왕국.csv', '공조.csv', '과속스캔들.csv', '관상.csv', '광해, 왕이 된 남자.csv', '괴물.csv', '국가대표.csv', '국제시장.csv', '극한직업.csv', '기생충.csv', '도둑들.csv', '디워.csv', '명량.csv', '미션임파서블-고스트프로토콜.csv', '밀정.csv', '백두산.csv', '범죄도시2.csv', '베를린.csv', '베테랑.csv', '변호인.csv', '보헤미안 랩소디.csv', '부산행.csv', '설국열차.csv', '수상한 그녀.csv', '스파이더맨- 노 웨이 홈.csv', '스파이더맨- 파 프롬 홈.csv', '스파이더맨- 홈 커밍.csv', '신과함께-인과 연.csv', '신과함께-죄와 벌.csv', '실미도.csv', '써니.csv', '아바타- 물의 길.csv', '아바타.csv', '아이언맨 3.csv', '알라딘.csv', '암살.csv', '어벤져스- 에이지 오브 울트론.csv', '어벤져스- 엔드게임.csv', '어벤져스- 인피니티 워.csv', '엑시트.csv', '왕의 남자.csv', '인터스텔라.csv', '최종병기 활.csv', '캡틴 아메리카- 시빌 워.csv', '탑건- 매버릭.csv', '태극기 휘날리며.csv', '택시운전사.csv', '트랜스포머 3.csv', '트랜스포머- 패자의 역습.csv', '트랜스포머.csv', '한산- 용의 출현.csv', '해운대.csv', '해적- 바다로 간 산적.csv', '히말라야.csv']
58

## 가장 앞에있는 1987로 테스트, 모양 확인

In [18]:
a = pd.read_csv(f"C:/GitTest/10M_Movie/movie_DB/individual_trend/{m_list[0]}")
a

,날짜,스크린수,스크린점유율,상영횟수,상영점유율,좌석수,좌석점유율,좌석판매율,매출액,매출액증감(전일대비),관객수,관객수증감(전일대비),누적매출액,누적관객수,순위,가격
0,2017-12-27,1299,0.240,6074,0.356,1070761,0.390,0.310,1973650400,1909449900,331736,324568,2277747900,367067,2,10000
1,2017-12-28,1233,0.224,5645,0.327,969574,0.351,0.228,1655660700,-317989700,221304,-110432,3933408600,588371,2,10000
2,2017-12-29,1170,0.209,5519,0.309,931532,0.327,0.329,2560147830,904487130,306562,85258,6493556430,894933,2,11000
3,2017-12-30,1079,0.187,5122,0.275,830642,0.280,0.586,4075364307,1515216477,487098,180536,10568920737,1382031,2,11000
4,2017-12-31,1082,0.187,5089,0.272,819068,0.275,0.684,4685083300,609718993,560046,72948,15254004037,1942077,2,11000
5,2018-01-01,1097,0.194,4982,0.278,793990,0.278,0.669,4460462100,-224621200,531469,-28577,19714466137,2473546,2,11000
6,2018-01-02,1063,0.199,5044,0.292,802143,0.291,0.271,1643436600,-2817025500,217247,-314222,21357902737,2690793,2,10000
7,2018-01-03,964,0.181,4231,0.243,693569,0.249,0.252,1329337000,-314099600,174979,-42268,22687239737,2865772,2,10000
8,2018-01-04,986,0.176,4260,0.243,704405,0.251,0.232,1240939300,-88397700,163429,-11550,23928179037,3029201,2,10000
9,2018-01-05,1012,0.181,4456,0.250,748365,0.263,0.270,1708090697,467151397,202189,38760,25636269734,3231390,2,11000
10,2018-01-06,1094,0.188,4812,0.262,821796,0.280,0.531,3672225298,1964134601,436755,234566,29308495032,3668145,2,11000
11,2018-01-07,1067,0.186,4738,0.262,810005,0.280,0.520,3539227900,-132997398,421153,-15602,32847722932,4089298,2,11000
12,2018-01-08,1012,0.193,4545,0.264,781718,0.283,0.230,1368413800,-2170814100,179970,-241183,34216136732,4269268,1,10000
13,2018-01-09,1052,0.196,4598,0.268,788434,0.286,0.223,1333191300,-35222500,175793,-4177,35549328032,4445061,1,10000
14,2018-01-10,1080,0.200,4666,0.274,801840,0.294,0.208,1264934200,-68257100,166737,-9056,36814262232,4611798,1,10000
15,2018-01-11,957,0.167,3840,0.221,692545,0.248,0.208,1097894600,-167039600,143893,-22844,37912156832,4755691,1,10000
16,2018-01-12,995,0.170,4045,0.230,735488,0.261,0.253,1589822454,491927854,186217,42324,39501979286,4941908,1,11000
17,2018-01-13,1103,0.180,4584,0.251,839279,0.288,0.517,3681128059,2091305605,434056,247839,43183107345,5375964,1,11000
18,2018-01-14,1122,0.183,4516,0.253,825132,0.289,0.498,3462113600,-219014459,410882,-23174,46645220945,5786846,1,11000
19,2018-01-15,1015,0.180,4222,0.250,783673,0.289,0.165,978569700,-2483543900,128995,-281887,47623790645,5915841,1,10000
20,2018-01-16,1042,0.179,4239,0.252,780644,0.288,0.149,877919500,-100650200,116339,-12656,48501710145,6032180,1,10000
21,2018-01-17,755,0.135,2901,0.171,490218,0.179,0.185,688826800,-189092700,90628,-25711,49190536945,6122808,3,10000
22,2018-01-18,745,0.128,2833,0.165,477701,0.174,0.168,607829400,-80997400,80288,-10340,49798366345,6203096,4,10000
23,2018-01-19,745,0.129,2842,0.162,473519,0.169,0.193,778155200,170325800,91393,11105,50576521545,6294489,4,11000
24,2018-01-20,714,0.119,2744,0.152,446996,0.155,0.443,1684063000,905907800,198195,106802,52260584545,6492684,4,11000
25,2018-01-21,708,0.119,2642,0.150,427024,0.151,0.411,1478354200,-205708800,175482,-22713,53738938745,6668166,4,11000
26,2018-01-22,689,0.125,2599,0.155,410957,0.152,0.127,395319700,-1083034500,52331,-123151,54134258445,6720497,4,10000
27,2018-01-23,688,0.121,2540,0.151,401411,0.149,0.123,371003000,-24316700,49510,-2821,54505261445,6770007,5,10000
28,2018-01-24,547,0.096,1816,0.104,270656,0.096,0.132,272188300,-98814700,35857,-13653,54777449745,6805864,5,10000
29,2018-01-25,562,0.089,1706,0.096,253103,0.089,0.131,249946400,-22241900,33264,-2593,55027396145,6839128,5,10000
30,2018-01-26,578,0.089,1733,0.096,257909,0.090,0.143,313169100,63222700,36987,3723,55340565245,6876115,5,11000
31,2018-01-27,604,0.086,1666,0.089,245501,0.082,0.315,656925300,343756200,77436,40449,55997490545,6953551,5,11000
32,2018-01-28,610,0.087,1615,0.088,237233,0.081,0.305,610028100,-46897200,72382,-5054,56607518645,7025933,5,11000
33,2018-01-29,577,0.093,1621,0.094,236027,0.085,0.113,201175800,-408852300,26748,-45634,56808694445,7052681,5,10000
34,2018-01-30,586,0.091,1611,0.093,234833,0.085,0.110,191703800,-9472000,25848,-900,57000398245,7078529,5,10000
35,2018-01-31,404,0.067,759,0.041,97468,0.032,0.230,133409100,-58294700,22463,-3385,57133807345,7100992,8,10000
36,2018-02-01,384,0.061,668,0.036,87543,0.029,0.136,88140400,-45268700,11916,-10547,57221947745,7112908,8,10000
37,2018-02-02,401,0.062,685,0.037,91315,0.030,0.153,114417200,26276800,13966,2050,57336364945,7126874,8,11000
38,2018-02-03,387,0.056,636,0.033,85669,0.027,0.291,209234700,94817500,24901,10935,57545599645,7151775,8,11000
39,2018-02-04,397,0.058,641,0.034,86322,0.028,0.274,199378100,-9856600,23629,-1272,57744977745,7175404,8,11000
40,2018-02-05,413,0.069,706,0.041,97405,0.035,0.086,62977700,-136400400,8412,-15217,57807955445,7183816,8,10000
41,2018-02-06,417,0.067,707,0.042,97747,0.036,0.080,58442600,-4535100,7861,-551,57866398045,7191677,8,10000
42,2018-02-07,405,0.065,709,0.042,98708,0.036,0.095,68214600,9772000,9410,1549,57934612645,7201087,8,10000
43,2018-02-08,173,0.028,265,0.015,32865,0.012,0.099,23926200,-44288400,3245,-6165,57958538845,7204332,12,10000
44,2018-02-09,188,0.030,279,0.016,34786,0.012,0.110,31150800,7224600,3820,575,57989689645,7208152,11,11000
45,2018-02-10,177,0.026,260,0.014,30922,0.010,0.166,43353400,12202600,5124,1304,58033043045,7213276,13,11000
46,2018-02-11,168,0.025,243,0.013,29099,0.010,0.170,41888100,-1465300,4955,-169,58074931145,7218231,13,11000
47,2018-02-12,183,0.030,264,0.016,32643,0.012,0.060,14760800,-27127300,1951,-3004,58089691945,7220182,14,10000
48,2018-02-13,179,0.029,269,0.016,33916,0.012,0.064,16339400,1578600,2171,220,58106031345,7222353,14,10000

- iloc로 숫자 형식 접근 1번째 열의 주소인 0과 
- 맨 처음 행의 주소 (개봉일) 0으로 접근 
- 마지막 행의 주소 (스크린 점유율 1% 미만인 임의의 상영종료일) -1로 접근

In [19]:
print(a.iloc[0,0])
print(a.iloc[-1,0])

2017-12-27
2018-02-13

- 모든 csv 파일이 있는 영화들의 개봉일, 상영 종료일을 구하는 반복문

In [20]:
start_date = []
end_date = []

for i in m_list:
        
    # 파일 읽어오기
    movie = pd.read_csv(f"C:/GitTest/10M_Movie/movie_DB/individual_trend/{i}")
    start_date.append(movie.iloc[0,0])
    end_date.append(movie.iloc[-1,0])

In [21]:
len(start_date)
len(end_date)

58

In [22]:
start_date

['2017-12-27',
 '2013-01-23',
 '2016-02-03',
 '2019-11-21',
 '2014-01-16',
 '2017-01-18',
 '2008-12-03',
 '2013-09-11',
 '2012-09-13',
 '2006-07-27',
 '2009-07-29',
 '2014-12-17',
 '2019-01-23',
 '2019-05-30',
 '2012-07-25',
 '2007-08-01',
 '2014-07-30',
 '2011-12-15',
 '2016-09-07',
 '2019-12-19',
 '2022-05-18',
 '2013-01-30',
 '2015-08-05',
 '2013-12-18',
 '2018-10-31',
 '2016-07-20',
 '2013-08-01',
 '2014-01-22',
 '2021-12-15',
 '2019-07-02',
 '2017-07-05',
 '2018-08-01',
 '2017-12-20',
 '2003-12-24',
 '2011-05-04',
 '2022-12-14',
 '2009-12-17',
 '2013-04-25',
 '2019-05-23',
 '2015-07-22',
 '2015-04-23',
 '2019-04-24',
 '2018-04-25',
 '2019-07-31',
 '2005-12-29',
 '2014-11-06',
 '2011-08-10',
 '2016-04-27',
 '2022-06-22',
 '2004-02-05',
 '2017-08-02',
 '2011-06-29',
 '2009-06-24',
 '2007-06-28',
 '2022-07-27',
 '2009-07-22',
 '2014-08-06',
 '2015-12-16']

In [23]:
end_date

['2018-02-13',
 '2013-04-17',
 '2016-03-16',
 '2020-01-21',
 '2014-03-25',
 '2017-02-28',
 '2009-04-01',
 '2013-10-23',
 '2012-12-24',
 '2006-09-27',
 '2009-11-04',
 '2015-03-11',
 '2019-03-26',
 '2019-07-30',
 '2012-10-02',
 '2007-09-18',
 '2014-10-01',
 '2012-02-08',
 '2016-10-19',
 '2020-02-04',
 '2022-07-26',
 '2013-03-27',
 '2015-10-14',
 '2014-02-19',
 '2019-01-29',
 '2016-09-13',
 '2013-10-11',
 '2014-04-02',
 '2022-03-22',
 '2019-08-06',
 '2017-08-08',
 '2018-09-18',
 '2018-02-23',
 '2004-03-31',
 '2011-08-10',
 '2023-03-07',
 '2010-03-24',
 '2013-06-04',
 '2019-08-25',
 '2015-09-23',
 '2015-06-10',
 '2019-06-05',
 '2018-06-12',
 '2019-09-24',
 '2006-04-05',
 '2015-01-13',
 '2011-10-26',
 '2016-06-01',
 '2022-09-14',
 '2004-05-20',
 '2017-09-26',
 '2011-08-10',
 '2009-08-11',
 '2007-08-14',
 '2022-09-20',
 '2009-10-07',
 '2014-10-07',
 '2016-02-10']

## 상영시작일과 종료일을 모은 데이터 프레임 생성

- 영화 파일들의 이름에서 .csv제거해서 이름 추출하는 반복문

In [35]:
a_list = []
for i in m_list:
    a_list.append(i[0:-4])

a_list

['1987',
 '7번방의 선물',
 '검사외전',
 '겨울왕국 2',
 '겨울왕국',
 '공조',
 '과속스캔들',
 '관상',
 '광해, 왕이 된 남자',
 '괴물',
 '국가대표',
 '국제시장',
 '극한직업',
 '기생충',
 '도둑들',
 '디워',
 '명량',
 '미션임파서블-고스트프로토콜',
 '밀정',
 '백두산',
 '범죄도시2',
 '베를린',
 '베테랑',
 '변호인',
 '보헤미안 랩소디',
 '부산행',
 '설국열차',
 '수상한 그녀',
 '스파이더맨- 노 웨이 홈',
 '스파이더맨- 파 프롬 홈',
 '스파이더맨- 홈 커밍',
 '신과함께-인과 연',
 '신과함께-죄와 벌',
 '실미도',
 '써니',
 '아바타- 물의 길',
 '아바타',
 '아이언맨 3',
 '알라딘',
 '암살',
 '어벤져스- 에이지 오브 울트론',
 '어벤져스- 엔드게임',
 '어벤져스- 인피니티 워',
 '엑시트',
 '왕의 남자',
 '인터스텔라',
 '최종병기 활',
 '캡틴 아메리카- 시빌 워',
 '탑건- 매버릭',
 '태극기 휘날리며',
 '택시운전사',
 '트랜스포머 3',
 '트랜스포머- 패자의 역습',
 '트랜스포머',
 '한산- 용의 출현',
 '해운대',
 '해적- 바다로 간 산적',
 '히말라야']

### 영화, 상영시작일, 상영종료일 가지는 데이터 프레임 생성

In [38]:
date_df = pd.DataFrame({'영화':a_list, '상영시작일':start_date, '상영종료일':end_date})

In [40]:
date_df.to_csv("C:/GitTest/10M_Movie/movie_DB/individual_movie/movie_date.csv", index=False)

In [39]:
date_df

                  영화       상영시작일       상영종료일
0               1987  2017-12-27  2018-02-13
1            7번방의 선물  2013-01-23  2013-04-17
2               검사외전  2016-02-03  2016-03-16
3             겨울왕국 2  2019-11-21  2020-01-21
4               겨울왕국  2014-01-16  2014-03-25
5                 공조  2017-01-18  2017-02-28
6              과속스캔들  2008-12-03  2009-04-01
7                 관상  2013-09-11  2013-10-23
8        광해, 왕이 된 남자  2012-09-13  2012-12-24
9                 괴물  2006-07-27  2006-09-27
10              국가대표  2009-07-29  2009-11-04
11              국제시장  2014-12-17  2015-03-11
12              극한직업  2019-01-23  2019-03-26
13               기생충  2019-05-30  2019-07-30
14               도둑들  2012-07-25  2012-10-02
15                디워  2007-08-01  2007-09-18
16                명량  2014-07-30  2014-10-01
17    미션임파서블-고스트프로토콜  2011-12-15  2012-02-08
18                밀정  2016-09-07  2016-10-19
19               백두산  2019-12-19  2020-02-04
20             범죄도시2  2022-05-18  2022-07-26
21               베를린  2013-01-30  2013-03-27
22               베테랑  2015-08-05  2015-10-14
23               변호인  2013-12-18  2014-02-19
24          보헤미안 랩소디  2018-10-31  2019-01-29
25               부산행  2016-07-20  2016-09-13
26              설국열차  2013-08-01  2013-10-11
27            수상한 그녀  2014-01-22  2014-04-02
28     스파이더맨- 노 웨이 홈  2021-12-15  2022-03-22
29     스파이더맨- 파 프롬 홈  2019-07-02  2019-08-06
30       스파이더맨- 홈 커밍  2017-07-05  2017-08-08
31         신과함께-인과 연  2018-08-01  2018-09-18
32         신과함께-죄와 벌  2017-12-20  2018-02-23
33               실미도  2003-12-24  2004-03-31
34                써니  2011-05-04  2011-08-10
35         아바타- 물의 길  2022-12-14  2023-03-07
36               아바타  2009-12-17  2010-03-24
37            아이언맨 3  2013-04-25  2013-06-04
38               알라딘  2019-05-23  2019-08-25
39                암살  2015-07-22  2015-09-23
40  어벤져스- 에이지 오브 울트론  2015-04-23  2015-06-10
41        어벤져스- 엔드게임  2019-04-24  2019-06-05
42      어벤져스- 인피니티 워  2018-04-25  2018-06-12
43               엑시트  2019-07-31  2019-09-24
44             왕의 남자  2005-12-29  2006-04-05
45             인터스텔라  2014-11-06  2015-01-13
46            최종병기 활  2011-08-10  2011-10-26
47     캡틴 아메리카- 시빌 워  2016-04-27  2016-06-01
48           탑건- 매버릭  2022-06-22  2022-09-14
49          태극기 휘날리며  2004-02-05  2004-05-20
50             택시운전사  2017-08-02  2017-09-26
51           트랜스포머 3  2011-06-29  2011-08-10
52     트랜스포머- 패자의 역습  2009-06-24  2009-08-11
53             트랜스포머  2007-06-28  2007-08-14
54         한산- 용의 출현  2022-07-27  2022-09-20
55               해운대  2009-07-22  2009-10-07
56      해적- 바다로 간 산적  2014-08-06  2014-10-07
57              히말라야  2015-12-16  2016-02-10